@import "tailwindcss";

:root {
  --bg: oklch(16.842% 0.00002 271.152);
  --primary: oklch(87.3% 0.17854 92.233);

  --text: oklch(76.039% 0.00009 271.152);
  --text-alternate: oklch(100% 0.00011 271.152);

  --sm-space-x: 1.5rem;
  --md-space-x: 2.5rem;
  --lg-space-x: 4rem;
  --xl-space-x: 5rem;
  --2xl-space-x: 6rem;

  --sm-space-y: 1rem;
  --md-space-y: 1.5rem;
  --lg-space-y: 2.5rem;
  --xl-space-y: 3rem;
  --2xl-space-y: 5rem;

  --navbar-height: 4rem;

  .outer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: full;
  }

  .inner-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--2xl-space-y); /* equivalent to space-y */
    margin-top: var(--2xl-space-y);
    margin-bottom: var(--2xl-space-y);
    width: var(--page-width);
  }

  img {
    user-select: none;
    -webkit-user-drag: none;
  }

  html,
  body {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
  }

  scrollbar-color: rgb(47, 47, 47) rgb(27, 27, 27);
  scrollbar-width: thin;

  * {
    box-sizing: border-box;
  }
}

/* sm */
:root {
  --page-width: min(calc(100vw - 3rem), 37rem);

  --sm-space-x: 1rem;
  --md-space-x: 1.25rem;
  --lg-space-x: 1.5rem;
  --xl-space-x: 3rem;
  --2xl-space-x: 4rem;

  --sm-space-y: 0.75rem;
  --md-space-y: 1.25rem;
  --lg-space-y: 2.25rem;
  --xl-space-y: 3.5rem;
  --2xl-space-y: 4.5rem;

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    color: var(--primary);
    font-weight: 800;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--primary);
    font-weight: 800;
  }

  h3 {
    font-size: 1.35rem;
    line-height: 1.35rem;
    color: var(--primary);
    font-weight: 600;
  }

  h4 {
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: var(--primary);
    font-weight: 800;
  }

  h5 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: var(--alternate-text);
    font-weight: 700;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: var(--alternate-text);
    font-weight: 600;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--default-text);
    font-weight: 500;
  }
}

/* md */
@media (min-width: 768px) {
  :root {
    --page-width: min(calc(100vw - 4rem), 44rem);

    --sm-space-x: 1rem;
    --md-space-x: 1.5rem;
    --lg-space-x: 2.5rem;
    --xl-space-x: 4rem;
    --2xl-space-x: 5rem;

    --sm-space-y: 1.25rem;
    --md-space-y: 1.75rem;
    --lg-space-y: 2.5rem;
    --xl-space-y: 3rem;
    --2xl-space-y: 4.5rem;

    h1 {
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: var(--primary);
      font-weight: 800;
    }

    h2 {
      font-size: 2.2rem;
      line-height: 2.2rem;
      color: var(--primary);
      font-weight: 800;
    }

    h3 {
      font-size: 1.35rem;
      line-height: 1.6rem;
      color: var(--primary);
      font-weight: 600;
    }

    h4 {
      font-size: 1.3rem;
      line-height: 1.3rem;
      color: var(--primary);
      font-weight: 800;
    }

    h5 {
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: var(--alternate-text);
      font-weight: 700;
    }

    h6 {
      font-size: 1.1rem;
      line-height: 1.3rem;
      color: var(--alternate-text);
      font-weight: 600;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: var(--default-text);
      font-weight: 500;
    }
  }
}

/* lg */
@media (min-width: 1024px) {
  :root {
    --page-width: min(calc(100vw - 6rem), 58rem);

    --sm-space-x: 1rem;
    --md-space-x: 1.5rem;
    --lg-space-x: 2.75rem;
    --xl-space-x: 4.5rem;
    --2xl-space-x: 5.5rem;

    --sm-space-y: 1.5rem;
    --md-space-y: 2rem;
    --lg-space-y: 3rem;
    --xl-space-y: 3.75rem;
    --2xl-space-y: 5rem;

    h1 {
      font-size: 3.6rem;
      line-height: 3.6rem;
      color: var(--primary);
      font-weight: 800;
    }

    h2 {
      font-size: 2.6rem;
      line-height: 2.6rem;
      color: var(--primary);
      font-weight: 800;
    }

    h3 {
      font-size: 1.55rem;
      line-height: 1.8rem;
      color: var(--primary);
      font-weight: 600;
    }

    h4 {
      font-size: 1.4rem;
      line-height: 1.4rem;
      color: var(--primary);
      font-weight: 800;
    }

    h5 {
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: var(--alternate-text);
      font-weight: 700;
    }

    h6 {
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: var(--alternate-text);
      font-weight: 600;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.7rem;
      color: var(--default-text);
      font-weight: 500;
    }
  }
}

/* xl */
@media (min-width: 1280px) {
  :root {
    --page-width: min(calc(100vw - 8rem), 72rem);

    --sm-space-x: 1rem;
    --md-space-x: 1.75rem;
    --lg-space-x: 3.25rem;
    --xl-space-x: 4.75rem;
    --2xl-space-x: 5.75rem;

    --sm-space-y: 1.5rem;
    --md-space-y: 2.5rem;
    --lg-space-y: 3.5rem;
    --xl-space-y: 4.75rem;
    --2xl-space-y: 5.5rem;

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      color: var(--primary);
      font-weight: 800;
    }

    h2 {
      font-size: 3rem;
      line-height: 3rem;
      color: var(--primary);
      font-weight: 800;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--primary);
      font-weight: 600;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: var(--primary);
      font-weight: 800;
    }

    h5 {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: var(--alternate-text);
      font-weight: 700;
    }

    h6 {
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: var(--alternate-text);
      font-weight: 600;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.9rem;
      color: var(--default-text);
      font-weight: 500;
    }
  }
}

/* 2xl */
@media (min-width: 1536px) {
  :root {
    --page-width: min(calc(100vw - 8rem), 88rem);

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      color: var(--primary);
      font-weight: 800;
    }

    h2 {
      font-size: 3rem;
      line-height: 3rem;
      color: var(--primary);
      font-weight: 800;
    }

    h3 {
      font-size: 1.75rem;
      line-height: 2rem;
      color: var(--primary);
      font-weight: 600;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: var(--primary);
      font-weight: 800;
    }

    h5 {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: var(--alternate-text);
      font-weight: 700;
    }

    h6 {
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: var(--alternate-text);
      font-weight: 600;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.9rem;
      color: var(--default-text);
      font-weight: 500;
    }
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: --text;
  }
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

body {
  background: var(--background, #121212);
  background-color: var(--background, #121212);
  color: var(--foreground);
  font-family: var(--font-anek-latin), var(--font-inter), sans-serif;
}
